.btn{
    font-weight: bold;
    padding: 5px 5px;
}

.btn-blue{
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: rgb(18, 18, 218);
    color: white;
}
.btn-blue:hover{
    background-color: rgb(32, 32, 238);
}

.btn-gray{
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 5px;
    color: gray;
}

.btn-gray:hover{
    background-color: rgb(240, 234, 234);
}