.content {
    margin-top: 2.2rem;
    border-radius: 1.6rem;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.125rem;
    padding-bottom: 1.5rem;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241 245 249 / 1);


}
.content::before {
    content: "";
    width: 96.5%;
    z-index: -1;
    margin-top: -0.87rem;
    border-radius: 1.6rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    background-color: rgb(255 255 255 / 0.2);
}

.content::after {
    content: "";
    width: 92.5%;
    z-index: -2;
    margin-top: -1.76rem;
    border-radius: 1.6rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    background-color: rgb(255 255 255 / 0.15);
}